---
---
@charset "utf-8";



// Our variables
$base-font-family: 'Droid Sans', sans-serif;
$header-font-family: 'Raleway', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$body-max-width: 1280px;
$center:         0 auto;
$text-color: #201612;

$spacing-unit:     30px;

$sidebar-col:			 20%;
$main-col:				 80%;
$footer-col-heights: 100px;

$home-color: #587D95;
$portfolio-color: #509EDC;
$blog-color: #35BAA3;
$name-color: #CED900;
$contact-color: #F04E00;
$header-bg-color: #201612;


$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bourbon/bourbon",
        "base/base",
        "neat/neat",
        "layout",
        "resume",
        "home"
