---
layout: default
title: Portfolio
---

<section class="portfolio-content">
  <h1>PORTFOLIO</h1>
  <ul class="project-list">
    {% for project in site.projects %}
    <li class="single-project">
    <h2>
      <a href="{{project.website}}">{{project.title}}</a>
      {% if project.github %}
      <a href="{{project.github}}"><img id="github" src="../images/github_white_sm.png"/></a>
      {% endif %}
    </h2> 
      <div class="project-img">
        <img src="{{project.img}}"/>
      </div>
      <div class="project-info">       
          {{project.description}}
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
