.home{
  
  h1,h2{
    color: $home-color;
    background: $header-bg-color;
    padding: 3px 2em 3px 0.3em;
  }

  h1,h2,ul,p{
    float:left;
    clear: both;
  }

  p,ul {
    padding-left: 3em;
  }
  
}
