/*
 * Site header
*/

body {
	max-width: $body-max-width;
	margin: $center;
}

.main-content-layout {
	padding: $spacing-unit;
}

.site-header {
    /* border-top: 5px solid $grey-color-dark;
    /* border-bottom: 1px solid $grey-color-light; */
    /*min-height: 56px; */
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.main-nav {
    line-height: 56px;
		width: 100%;

    .menu-icon {
        display: none;
    }

		li {
			width: 100%;
			text-align: center;
		}

    a {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
			}
    }
}

/**
* Site Sidebar
*/

.sidebar{
	width: $sidebar-col;
	float:left;
	@extend .main-content-layout;

	img{
		margin: auto;
		position: relative;
		height: 50%;
		width: 100%;
	}
}

/**
* Site Content
*/
.main-content {
	width: $main-col;
	float: right;
	position: relative;
	min-height: 600px;

		h1{
			margin-bottom: 20px;
		}

}

.profile-image img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}



/**
 * Site footer
 */
.sidebar-col-footer {
	@extend .sidebar;
	min-height: $footer-col-heights;
}

.content-col-footer {
	@extend .main-content;
	min-height: $footer-col-heights;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
	padding: 0;
	@extend %clearfix;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
