/*
 * Site header
*/

body {
  $border-box-sizing: true !default;
  background-color: grey;
}

.page-content {
  @include outer-container(1020px);
  background-color: white;
  margin: 40px auto;


  .sidebar {
   @include span-columns(4); 
   background-color: red;
   height: 300px;
   margin-top: 70px;
   margin-left: -100px;
  }
    
  .main-content {
    @include span-columns(8);
    @include omega;
    background-color: yellow;
    
    h1{
      padding-top: 50px;
    }
  }

}
