.portfolio-content {
  .single-project {
    @include outer-container(100%);
    padding-bottom: 20px;
  }
  h1,h2 {
    color: $portfolio-color;

    a{
      color: $portfolio-color;
    }
  }

  h2{
    background: $header-bg-color;
    padding: 3px 1em 3px 0.3em;
  }

  #github {
   margin-left: 3%; 
  }

  .project-img {
    @include span-columns(4);

    img {
      max-width: 100%;
      min-width: 100%;
    }
  }

  .project-info {
    @include span-columns(8);
    @include omega;
  }
}
